GtkWindow {
 background-color: black;
 color: white;
}

GtkBox {
 background-color: black;
 color: white;
 font-family: 'Roboto-Regular';
 font-size: 50px;
}
* {
  background-color: black;
} 

#button {
 color: black;
 font-size: 50px;
 background-color: white;
}

#label_date {
 font-size:50px;
 color: white;
}

#label_time {
  font-size: 130px;
  color: white;
}

#label_sunset {
  font-size: 130px;
  color: white;
}

#label_temp {
  font-size: 130px;
  color: white;
}

